.ImpressumContainer {
  text-align: center;
}

.ImpressumContainer>div{
  text-align: right;
  padding-right: 30px;
}

.ImpressumContainer>div>i {
  font-size: 7em;
  opacity: 0.16;
  cursor: pointer;
}

.ImpressumContainer>div>i:hover,
.ImpressumContainer>div>i:active {
  color: rgba(255, 167, 0, 0.95);
  opacity: 0.86;
}

.ImpressumContainer>h1{
  margin: 0;
  font-size: 2.5em;
  font-weight: normal;
  opacity: 0.8;
}
.ImpressumContainer>h2 {
    margin: 0;
    padding: 1em;
    font-size: 1.3em;
    font-weight: normal;
}

.ImpressumContainer>p {
  padding: 1em 1em;
  font-size: 1.2em;
}

.ImpressumContainer>button {
  border: none;
  background-color: rgba(255, 167, 0, 0.90);
  color: white;
  padding: 12px 20px;
  font-size: 1.4em;
  border-radius: 9px;
  margin-bottom: 2em;
  cursor: pointer;
}
.ImpressumContainer>button:hover,
.ImpressumContainer>button:active {
  background-color: rgba(255, 167, 0, 1);
}

.Developer {
  font-size: 0.9em!important;
}
/* --------------------------- Media Queries -------------------------------- */
/* Medium Width Up */
@media (min-width: 640px) {

  .ImpressumContainer>div>i {
    font-size: 9em;
  }

  .ImpressumContainer>h1{
    font-size: 5em;
  }
}
